In [4]:
#@title COMP216 Lab exercise 1.
# Please save this notebook as your name
#
# Please insert your name, student number, course and date
# is the proper spots below.
#
# copyrights Narendra Pershad
#

**Name: Jonathan Au  
Sid: 300827701  
Course: COMP216-403  
Date: January 10, 2024**  

---

##Instructions
1. Complete the exercises as far as you possibly can
2. Rename the workbook to your first name  
3. Make sure that the notebook is shareable
4. Upload a link to the Assessment folder in brightspace  
5. You code must work even if the original variable changes
---
If you leave the notebook and/or start working at mid-way in the notebook, you will have to execute the first cell again to re-load the variable etc.
##Questions: [47.5 Marks]
- [Working with Sets](#set)
- [Working with Tuples](#tuple)
- [Working with Lists](#list)
- [Working with Dictionaries](#dict)
- [Conversions between Collections](#conversion)
- [Iterate a collection](#iterate)
- [Using the enumerate function](#enumerate)

In [67]:
#imports and variables
from random import randint

#the following variable will be used in the rest of the exercise
pm = 'justin pierre james trudeau'
instructor = 'narendra pershad'
harry = "You've gotta ask yourself a question: do I feel lucky? …well, do ya, punk?"
numbers = [randint(5, 10) for _ in range(20)]

##1. <a name="set"></a>Working with sets [8 Marks]

In [91]:
# - 1 mark
# use the set constructor to create a set (assign the new set to a variable) from the variable 'instructor' and print it
set1 = set(instructor)
print(set1)

{'h', 'p', ' ', 'r', 'd', 'e', 'a', 's', 'n'}

In [92]:
# - 1 mark
# use the add() method to add 'z' to the above set and print it
set1.add("z")
print(set1)

{'h', 'p', 'z', ' ', 'r', 'd', 'e', 'a', 's', 'n'}

In [93]:
# - 1 mark
#use the remove() method to take ' ' from the set and print it
set1.remove("z")
print(set1)

{'h', 'p', ' ', 'r', 'd', 'e', 'a', 's', 'n'}

In [94]:
# - 1 mark
# define your own new set (assign the new set to a variable)
# use the intersection() method to find the common elements in both sets and print the result
set2 = set('Jonathan Au')
set1.intersection(set2)
print(set1)

{'h', 'p', ' ', 'r', 'd', 'e', 'a', 's', 'n'}

In [95]:
# - 1 mark
# use the union() method to find all the elements occuring in both sets and print the result
set1.union(set2)
print(set1)

{'h', 'p', ' ', 'r', 'd', 'e', 'a', 's', 'n'}

In [96]:
# - 1 mark
#use the pop() method remove and return an arbitrary elements of the set and print it
set1.pop()
print(set1)

{'p', ' ', 'r', 'd', 'e', 'a', 's', 'n'}

In [97]:
# - 1 mark
#use the update() function to add 'x', 'y' and 'z' to the set  and print the result
set1.update('x', 'y', 'z')
print(set1)

{'p', 'z', ' ', 'r', 'x', 'd', 'e', 'y', 'a', 's', 'n'}

In [98]:
# - 1 mark
#use the len() function to get the number of elements in the set and print the result
print (len(set1))

11

##2. <a name="tuple"></a>Working with tuples [6 Marks]
Because a tuple is immutable, methods like add(), remove(), pop() does not exist for tuples

In [12]:
# - 1 mark
# Use the tuple constructor to create a tuple (assign the new set to a variable) from the variable pm and print it
tup = tuple(pm)
print(tup)

('j', 'u', 's', 't', 'i', 'n', ' ', 'p', 'i', 'e', 'r', 'r', 'e', ' ', 'j', 'a', 'm', 'e', 's', ' ', 't', 'r', 'u', 'd', 'e', 'a', 'u')

In [13]:
# - 3 marks
# write the statement to produced the following lines of output

## There are 4 e's in the tuple                   #use the count() method
## You can find a at index 15 of the tuple        #use the index() method
## There are 27 elements in the tuple             #use the len() function
count = tup.count('e')
index = tup.index('a')
length = len(tup)

print(count)
print(index)
print(length)

4
15
27

In [14]:
# - 1 mark
# use decomposition to print the first, second and the rest of the elements of your tuple
x, y, *z = tup
print(x)
print(y)
print(z)

j
u
['s', 't', 'i', 'n', ' ', 'p', 'i', 'e', 'r', 'r', 'e', ' ', 'j', 'a', 'm', 'e', 's', ' ', 't', 'r', 'u', 'd', 'e', 'a', 'u']

In [15]:
# - 1 mark
# use array-like indexing to print the third and fifth element of your tuple
a, b, c, d, e, *f = tup
print(c)
print(e)

s
i

##3. <a name="list"></a>Working with list [10 Marks]

In [16]:
# - 1 mark
# Use the list constructor to create a list  (assign the new set to a variable) from the variable 'harry' using the split() method
# of the string class and print it
list_harry = harry.split()
#split = list.split()
print(list_harry)

["You've", 'gotta', 'ask', 'yourself', 'a', 'question:', 'do', 'I', 'feel', 'lucky?', '…well,', 'do', 'ya,', 'punk?']

In [17]:
# - 4 marks
# use the append() method once to add 'Eastwood' to the end of the  list
# use the insert() method to add 'Clint' at the start of the  list
# use the remove() method to remove 'question' from the list
# use the extend() method to add 'Dirty' and 'Harry' to the end of the list
# print the final list
list_harry.append('Eastwood')
list_harry.insert(0, 'Clint')
list_harry.remove('question:')
list_harry.extend('Dirty Harry'.split())
print(list_harry)

['Clint', "You've", 'gotta', 'ask', 'yourself', 'a', 'do', 'I', 'feel', 'lucky?', '…well,', 'do', 'ya,', 'punk?', 'Eastwood', 'Dirty', 'Harry']

In [18]:
# - 2 marks
# use the sort() method to order the  list
# print the list
# use the reverse() method to reverse the list
# print the final list
list_harry.sort()
print(list_harry)
list_harry.reverse()
print(list_harry)

['Clint', 'Dirty', 'Eastwood', 'Harry', 'I', "You've", 'a', 'ask', 'do', 'do', 'feel', 'gotta', 'lucky?', 'punk?', 'ya,', 'yourself', '…well,']
['…well,', 'yourself', 'ya,', 'punk?', 'lucky?', 'gotta', 'feel', 'do', 'do', 'ask', 'a', "You've", 'I', 'Harry', 'Eastwood', 'Dirty', 'Clint']

In [19]:
# - 3 mark
# write the statement to produced the following lines of output

## There are 2 do's in the list
## You can find "ask" at index 9 of the list
## There are 17 elements in the list
count = list_harry.count('do')
index = list_harry.index('ask')
length = len(list_harry)

print(count)
print(index)
print(length)

2
9
17

##4. <a name="dic"></a>Working with dictionary [4 Marks]

In [20]:
#use the following dictionary for your exercises
d = {
    3462: 'Artificial Intelligence',
    3468: 'Software Engineering Technician',
    3469: 'Software Engineering Technology',
    3472: 'Artificial Intelligence (FT)',
    3478: 'Software Engineering Technician (FT)',
    3528: 'Health Informatics Technology (FT)',
    3609: 'Game - Programming',
    3668: 'Health Informatics Technology',
    3679: 'Game - Programming (FT)'}

In [21]:
# - 1 mark
# display the dictionary

display(d)

{3462: 'Artificial Intelligence',
 3468: 'Software Engineering Technician',
 3469: 'Software Engineering Technology',
 3472: 'Artificial Intelligence (FT)',
 3478: 'Software Engineering Technician (FT)',
 3528: 'Health Informatics Technology (FT)',
 3609: 'Game - Programming',
 3668: 'Health Informatics Technology',
 3679: 'Game - Programming (FT)'}

In [22]:
# - 1 mark
# use the keys() and values() method to display the keys and values

keys = d.keys()
values = d.values()

display(keys)
display(values)

dict_keys([3462, 3468, 3469, 3472, 3478, 3528, 3609, 3668, 3679])

dict_values(['Artificial Intelligence', 'Software Engineering Technician', 'Software Engineering Technology', 'Artificial Intelligence (FT)', 'Software Engineering Technician (FT)', 'Health Informatics Technology (FT)', 'Game - Programming', 'Health Informatics Technology', 'Game - Programming (FT)'])

In [23]:
# - 2 mark
# Use the key-index technique to retrieve the name of program 3462
# Use the get() method to retrieve the name of program 3462
# Is there a difference?
prog_num = 3462
key_index = d[prog_num]
get_method = d.get(3462)


display(key_index)
display(get_method)

'Artificial Intelligence'

'Artificial Intelligence'

##5. <a name="conversion"></a>Converting from one collection to another [7.5 Marks]
There is free inter-conversions except for dictionary

In [99]:
# - 2.5 marks
# Use the constructor to obtain a set from each of the three previous collections
# (parts 2, 3 and 4) and print them.
# Notice the iterator variable the dictionary loop represents only the key
set12 = set(tup)
set13 = set(list_harry)
set14 = set(d)

print(set12)
print(set13)
print(set14)

{'p', ' ', 'r', 'j', 't', 'i', 'e', 'u', 'd', 'a', 's', 'n', 'm'}
{'ya,', 'lucky?', 'Dirty', 'Eastwood', 'a', 'feel', 'Clint', '…well,', 'punk?', 'yourself', 'do', 'I', "You've", 'ask', 'Harry', 'gotta'}
{3462, 3528, 3468, 3469, 3472, 3668, 3478, 3609, 3679}

In [101]:
# - 2.5 marks
# Use the constructor to obtain a tuple from each of the three previous collections
# (parts 1, 3 and 4) and print them.
# Again, notice the iterator variable the dictionary loop represents only the key
tup11 = tuple(set1)
tup13 = tuple(list_harry)
tup14 = tuple(d)

print(tup11)
print(tup13)
print(tup14)

('p', 'z', ' ', 'r', 'x', 'd', 'e', 'y', 'a', 's', 'n')
('…well,', 'yourself', 'ya,', 'punk?', 'lucky?', 'gotta', 'feel', 'do', 'do', 'ask', 'a', "You've", 'I', 'Harry', 'Eastwood', 'Dirty', 'Clint')
(3462, 3468, 3469, 3472, 3478, 3528, 3609, 3668, 3679)

In [102]:
# - 2.5 marks
# Use the constructor to obtain a list from each of the three previous collections
# (parts 1, 2 and 4) and print them.
d11 = dict.fromkeys(set1, 0)
d12 = dict.fromkeys(tup, 0)
d13 = dict.fromkeys(list_harry, 0)

print(d11)
print(d12)
print(d13)

{'p': 0, 'z': 0, ' ': 0, 'r': 0, 'x': 0, 'd': 0, 'e': 0, 'y': 0, 'a': 0, 's': 0, 'n': 0}
{'j': 0, 'u': 0, 's': 0, 't': 0, 'i': 0, 'n': 0, ' ': 0, 'p': 0, 'e': 0, 'r': 0, 'a': 0, 'm': 0, 'd': 0}
{'…well,': 0, 'yourself': 0, 'ya,': 0, 'punk?': 0, 'lucky?': 0, 'gotta': 0, 'feel': 0, 'do': 0, 'ask': 0, 'a': 0, "You've": 0, 'I': 0, 'Harry': 0, 'Eastwood': 0, 'Dirty': 0, 'Clint': 0}

##6. <a name="iterate"></a>Iterating a collection [4 Marks]
The for-in loop facilates iterating a collection

In [106]:
# - 4 mark
# Use a for-in loop to print each of the previous collection: set, tuple, list and dict
# Notice the iterator variable the dictionary loop represents only the key
looper = (set1, tup, list_harry, d)
for i in looper:
  print (i)

{'p', 'z', ' ', 'r', 'x', 'd', 'e', 'y', 'a', 's', 'n'}
('j', 'u', 's', 't', 'i', 'n', ' ', 'p', 'i', 'e', 'r', 'r', 'e', ' ', 'j', 'a', 'm', 'e', 's', ' ', 't', 'r', 'u', 'd', 'e', 'a', 'u')
['…well,', 'yourself', 'ya,', 'punk?', 'lucky?', 'gotta', 'feel', 'do', 'do', 'ask', 'a', "You've", 'I', 'Harry', 'Eastwood', 'Dirty', 'Clint']
{3462: 'Artificial Intelligence', 3468: 'Software Engineering Technician', 3469: 'Software Engineering Technology', 3472: 'Artificial Intelligence (FT)', 3478: 'Software Engineering Technician (FT)', 3528: 'Health Informatics Technology (FT)', 3609: 'Game - Programming', 3668: 'Health Informatics Technology', 3679: 'Game - Programming (FT)'}

##7. <a name="enumerate"></a>Using the enumerate function [8 Marks]
This function can enumerate both sequences like sets, tuples, strings and lists as well as mappings like dictionaries  
The enumerate function returns a collection of tuples.  
Each tuples is a pair comprising of the index and the value.

In [116]:
# - 4 mark
# use the enumerate function to print each collection: set, tuple, list and dict
# You must print both the position and the item in the collection
print('enumerating a set')
for s in set1:
  print(s, end=' ')

print('\n\nenumerating a tuple')
for t in tup:
  print(t, end=' ')

print('\n\nenumerating a list')
for l in list_harry:
  print(l, end=' ')

print('\n\nenumerating a dictionary')
for x in d:
  print(f'{x} -> {d[x]}')

enumerating a set
p z   r x d e y a s n

enumerating a tuple
j u s t i n   p i e r r e   j a m e s   t r u d e a u

enumerating a list
…well, yourself ya, punk? lucky? gotta feel do do ask a You've I Harry Eastwood Dirty Clint

enumerating a dictionary
3462 -> Artificial Intelligence
3468 -> Software Engineering Technician
3469 -> Software Engineering Technology
3472 -> Artificial Intelligence (FT)
3478 -> Software Engineering Technician (FT)
3528 -> Health Informatics Technology (FT)
3609 -> Game - Programming
3668 -> Health Informatics Technology
3679 -> Game - Programming (FT)

In [115]:
# - 4 mark
# Use the items() method of the dict class to enumerate a dictionary
# You must print the position, the key and the value
print('\n\nenumerating a dictionary using items()')
for x, y in d.items():
  print(f'{x} -> {y}')

enumerating a dictionary using items()
3462 -> Artificial Intelligence
3468 -> Software Engineering Technician
3469 -> Software Engineering Technology
3472 -> Artificial Intelligence (FT)
3478 -> Software Engineering Technician (FT)
3528 -> Health Informatics Technology (FT)
3609 -> Game - Programming
3668 -> Health Informatics Technology
3679 -> Game - Programming (FT)